h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 23px;;
}

a {
    
}

#p1 {

}

#p2 {

}

body {
    font-family: Montserrat;
    background:url("https://images.unsplash.com/photo-1533879767586-ec61e7d5b31d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2d353f5955ecda4827c18699a231a423&auto=format&fit=crop&w=2550&q=80");
    background-size: cover;
    margin-top: -5px;
    height: 1000px;
}

.block{
    background: rgba(0, 0, 0, .5);
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
    position: relative;
  }

.topnav {
    font-size: 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    position: relative;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.botnav {
    padding: 15px;
    width: 31%;
    margin: auto auto;
}

.botnav a {
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px 10px;
}

.botnav a:hover {
    background-color: white;
    color: black;
    border-radius: 20px 10px;
}